.logo{
    height: 60px;
    width: 60px;
    
    margin-left: 1%;
}

#cimg{
    height: 150px;
    width: 234px;
    background-color: rgb(132, 136, 139);
}

.socialicons{
    height: 20px;
    width: 22px;
}
#socialimg{
    float: right;
     margin: 1% 1%;
     padding-block: 6px;

     margin-right: 2%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'ubuntu', sans-serif;
}
header{
    background-color: rosybrown;
    position: sticky;
    width: 100%;
    top: 0;

    display: flexbox;
}
footer{
    background-color: rosybrown;
    width: 100%;
    position: fixed;
    bottom: 0;

    display: flexbox;
}
#list-view{
    margin: 2%;
    display: block;
}
#hotelimg{
    background-color: lightgrey;
    width: 40%;
    margin: 2%;

}
#radisson{
    margin: 2%;
    background-color: lightgrey;
    width: 40%;
    display: inline-block;
    margin-top: 0;
    
}
#lalit{
    margin: 2%;
    background-color: lightgrey;
    width: 40%;
    display: inline-block;
    margin-left: 4%;
    
}
#taj{
    margin: 2%;
    background-color: lightgrey;
    width: 40%;
    display: inline-block;
  
}
.desc-div{
    margin-left: 20px;
    margin-top: 2%;
}
#container{
    height: 100%;
    width: 100%;
}
.login{
    text-decoration: none;
    color: black;
    float: right;
    padding: 1%;
    padding-top: 1.5%;

    margin-right: 2%;
}
li a{
    color:black;
    text-decoration: none;
}
li{
    display: inline-block;
    padding: 0 30px;
}
ul{
    
    padding-left: 38%;
}    

#map-view{
    visibility: visible;
    margin-right: 1%;
}
#content{
    padding-bottom: 50px;
}
#list-view a{
    text-decoration: none;
    color: black;
}
#contact{
    float: left; 
    line-height: 5px;
    padding: 1%;
    padding-top: 2%;
}
a.contactus{
    text-decoration: none;
    color: black;
    padding-top: 1%;

}
#copyrights{
    font-size: 10px;
    text-align: center;
    top: 60%;
    padding-top: 3em;
    bottom: 0;

}
#pills-tab{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
#pills-listview-tab{
    color: black;
}
#pills-mapview-tab{
    color: black;
}
#radisson:hover{
    background-color: rosybrown;
}
#lalit:hover{
    background-color: rosybrown;
}
#taj:hover{
    background-color: rosybrown;
}
.desc-div:hover{
    color: black;
}
.checked{
    color: orange;
}
.div-1{
    display: flex;
}